.container {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  width: 260px;
  background-color: #1e1d1e;
  color: beige;
  height: 100vh;
}
.btn {
  border-radius: 4px;
  padding: 10px;
  margin: 20px 10px;
  border: solid 0.5px rgba(255, 255, 255, 0.5);
  background-color: transparent;
  color: beige;
  cursor: pointer;
}
.history {
  padding: 10px;
  margin: 10px;
  height: 100%;
}
.history li {
  padding: 15px;
  cursor: pointer;
}
.contact {
  border-top: solid 0.5px rgba(255, 255, 255, 0.5);
  padding: 10px;
  margin: 10px 10px;
  cursor: pointer;
}
